.about {
    font-size: 20px;
    width: 400px;
    text-align: justify;
}
.container {
    width: 800px;
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    gap: 50px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title {
    font-size: 26px;
}